<div class="random-beer">
    
    {{>beerpartial beer}}

    <ul><h3>Food Pairing</h3>
      {{#each beer.food_pairing}}
        <li>{{this}}</li>
      {{/each}}
    </ul>

    <span><strong>Brewers Tips:</strong> {{beer.brewers_tips}}</span>

</div>